.launcher-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgb(143, 8, 153);
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.launcher-button:hover {
  transform: scale(1.1);
}
